[submodule "submodules/event_loop"]
	path = submodules/event_loop
	url = https://github.com/AlexBramhill/pico-event-loop.git
[submodule "submodules/wifi_manager"]
	path = submodules/wifi_manager
	url = https://github.com/AlexBramhill/pico-wifi-manager.git
[submodule "submodules/clock_service"]
	path = submodules/clock_service
	url = https://github.com/AlexBramhill/pico-clock-service.git
[submodule "submodules/displays"]
	path = submodules/displays
	url = https://github.com/AlexBramhill/pico-displays.git
